<ion-content>
    <ion-icon name="arrow-back-outline" class="ion-padding" routerLink="/home"></ion-icon>
    <div class="main-section">
        <h3 class="ion-padding">{{isEdit  ?  'Agregar  transaccion'  :   'Editar Transaccion'}}</h3>
        <div class="form ion-padding ion-margin">

            <ion-select interface ="action-sheet" [(ngModel)]="type" placeholder="Seleccionar tipo">
                <ion-select-option value="income">Ingreso</ion-select-option>
                <ion-select-option value="expense">Gasto</ion-select-option>
            </ion-select>

            <ion-input placeholder="Title" [(ngModel)]="title"></ion-input>
            <ion-input placeholder="Sub title" [(ngModel)]="subTitle"></ion-input>
            <ion-input placeholder="Amount" [(ngModel)]="amount"></ion-input>

            <ion-button color="dark" (click)="addTransaction()">{{isEdit  ?  'Agregar'  :  'Editar'}} &nbsp;<ion-spinner *ngIf="loading" ></ion-spinner></ion-button>
        </div>

    </div>
</ion-content>
